{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="{% static 'css/popup_login.css' %}">
</head>

<body>


    <div class="modal">
        <form class="modal-content">

            <div class="modal-img">
                <span class="fa fa-times"></span>
                <img src="" alt="">
            </div>

            <div class="modal-container">
                <p>hello inja matn ro mizarim</p><br>
                <button type="submit">OK</button>
            </div>

        </form>
    </div>
</body>
</html>